.container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
   
}

.border{
    border: 2px solid #d85858
}
.container2{
    background-color: rgb(161, 127, 255);
}

.select{
    background-color: rgb(177, 159, 226);
}
.container3{
    background-color: rgb(233, 114, 217);
}